<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md">
      <form>
        <div class="form-row">
          <div class="col-7">
            <input type="text" class="form-control" placeholder="Seleccion Archivo">
            <button type="button" class="btn btn-primary">Cargar Archivo</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success">Procesar</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nro Lote" [(ngModel)]="num_lote">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Fecha Carga">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-warning">Consultar</button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nro Lote</th>
              <th scope="col">Nombre Archivo</th>
              <th scope="col">Fecha Carga</th>
              <th scope="col">Total</th>
              <th scope="col">Pendientes</th>
              <th scope="col">Pagados</th>
              <th scope="col">Error</th>
              <th scope="col">Exportar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registro of registros">
              <th>{{registro.num_lote}}</th>
              <th class="font-weight-light">{{registro.nom_archivo}}</th>
              <th class="font-weight-light">{{registro.fec_carga}}</th>
              <th class="font-weight-light">{{registro.num_total}}</th>
              <th class="font-weight-light">{{registro.num_pendientes}}</th>
              <th class="font-weight-light">{{registro.num_pagados}}</th>
              <th class="font-weight-light">{{registro.num_errores}}</th>
              <th class="font-weight-light"><i class="fas fa-download"></i></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
