<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row">
    <div class="col-md">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md">
      <input type="file" />
      <button>Procesar</button>
      <button>Cancelar</button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md">
      <label>
        Nro Lote <input type="text" id="num_lote" />
      </label>
      <label>
        Fecha Carga <input type="text" id="num_lote" />
      </label>
      <button>Consultar</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nro Lote</th>
              <th scope="col">Nombre Archivo</th>
              <th scope="col">Fecha Carga</th>
              <th scope="col">Total</th>
              <th scope="col">Pendientes</th>
              <th scope="col">Pagados</th>
              <th scope="col">Error</th>
              <th scope="col">Exportar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <th>1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
